<footer class="main">
    <div class="justify">
        <div class="newsletter">
            <form action="">
                <span>Connect</span>
                <input type="text" placeholder="email address">
                <button>Join</button>
            </form>
        </div>

        <div class="social">
            <span>Be Social</span>
            <a href="https://twitter.com/tarsierrecords" target="_blank" id="Twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC9fACMkCC80Lz8aZV--rNwA" target="_blank" id="YouTube">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/tarsierrecords" target="_blank" id="Instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/tarsierrecords" target="_blank" id="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://open.spotify.com/user/playlistmeph/playlist/2clQr2GtGdS69zQtQWCzJo" target="_blank" id="Facebook">
                <i class="fa fa-spotify" aria-hidden="true"></i>
            </a>
        </div>

        <div class="links">
            <a href="#" target="_blank">TERMS</a> | 
            <a href="#" target="_blank">PRIVACY</a>
        </div>
    </div>
    <p class="fineprint">&copy; 2018 ABS-CBN Corporation. All Rights Reserved.</p>
</footer>