<div class="main-content inner-content releases-content">

        <section class="video-section">
            <div class="block block-relative">
                <div class="details">
                    <h2>Releases</h2>
                </div>

                <div class="video-embed youtube" data-video-id="">
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/-glkPdjTPxs?rel=0&amp;controls=0&amp;showinfo=0&amp;iv_load_policy=3&amp;loop=1&amp;autoplay=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
                    <app-yt-player  [ytVideoId]="'5Hif1aWsruY'" [playerType]="'2'"></app-yt-player>
                </div>

                <div class="video-embed youtube" data-video-id="">
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/-glkPdjTPxs?rel=0&amp;controls=0&amp;showinfo=0&amp;iv_load_policy=3&amp;loop=1&amp;autoplay=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
                    <app-yt-player  [ytVideoId]="'M9BrlKHloKU'" [playerType]="'2'"></app-yt-player>
                </div>

                <div class="video-embed youtube">
                    <span class="icon-play-video"></span>
                    <img src="assets/images/release-cover-plain.jpg" alt="Cover" class="cover">
                </div>

                <div class="video-embed brightcove">
                    <div style="position: relative; display: block; max-width: 480%;">
                        <div style="padding-top: 75%;">
                            <brightcovePlayer [bcVideoId]="'5726715052001'"></brightcovePlayer>
                        </div>	
                    </div>
                </div>

                <div class="video-embed brightcove">
                    <div style="position: relative; display: block; max-width: 480%;">
                        <div style="padding-top: 75%;">
                            <brightcovePlayer [bcVideoId]="'5726715052001'"></brightcovePlayer>
                        </div>	
                    </div>
                </div>
                <div class="video-embed akamai">
                    <!-- <img src="assets/images/bg-featured.jpg" alt="Cover" class="cover"> -->
                    <div id="videoContainer">
                            <akamaiPlayer></akamaiPlayer>    
                        <!-- <video preload="auto" src="https://players.akamai.com/fd59ce5f-1dff-44cf-9570-83c39d31644e"></video> -->
                    </div>    
                </div>


                <p>To view all the videos, <a href="#" title="Click here">click here.</a></p>

                <button type="submit" class="btn btn-primary btn-centered" id="btnLoadMore">LOAD MORE</button>
                
            </div>
        </section>

        <aside class="aside-releases">
            <div class="ad-mrec">
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x250/252525/?text=MREC+350x250"></a>
            </div>
            <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A1OOPuettwCWEwnWKVqrv70" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </aside>

        

    </div>